VITE_AUTH0_DOMAIN=dev-y75lecimhanaeqy7.us.auth0.com
VITE_AUTH0_CLIENT_ID=yeY5NjonTGYxROYhI0JDBuS77CLzEhcb
VITE_AUTH0_AUDIENCE=https://sunshineless-beckett-axial.ngrok-free.dev
VITE_API_URL=https://sunshineless-beckett-axial.ngrok-free.dev
VITE_AUTH0_REDIRECT_URI=https://articulative-protozoonal-emersyn.ngrok-free.dev
VITE_HMR_HOST=articulative-protozoonal-emersyn.ngrok-free.dev
VITE_HMR_CLIENT_PORT=443